<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="org.jmgo.input.web.WebVoiceActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/JmgoWebInputVoiceTheme">
            <intent-filter>
                <action android:name="org.jmgo.input.action.WEB_VOICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
